<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body style="padding: 5%;background: transparent;">
    <form class="container-fluid" method="post" style="margin: auto;width: 30%;padding: 2%">
        <div class="form-group">
            Username:<input type="text" class="form-control" name = "user"  value="{{ user.username }}" disabled>
        </div>
        <div class="form-group">
            Patient ID:
            <select name="patient" class="form-control"style="width: 100%;height: 100%">
                {% for i in list %}
                    <option value="{{ i.id }} ">{{ i.id }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="form-group">
            Date:<input type="date" name="date" class="form-control" value="" >
        </div>
        <div class="form-group">
            Disease:<textarea class="form-control" name="dis" style="resize: none"></textarea>
        </div>
            <div class="form-group">
            Prescription:<textarea class="form-control" name="med" style="resize: none"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-success" value="Add">
            <input type="reset" class="form-control btn btn-danger mt-4" value="Reset">
        </div>
        {% csrf_token %}
    </form>
</body>
</html>