<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <script type="text/javascript">
        function func() {
                    var x = document.getElementById("cat");
        var y = document.getElementById("search");

        if(x.value=="Date"){
            console.log(x.value);
            y.type ="date";
        }
        else{
            y.type ="text";
        }
        }
    </script>
</head>

<body style="padding-top: 5%;padding: 5%;background: transparent;">
    <form class="container-fluid" action="" method="post" style="margin: auto;">
        <div class=" row" style="height:6vh;margin: auto">
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3"
                style="height: 100%;display: flex;align-items: center;margin-left: auto">
                <b>Search By:</b>
                <select class="ml-3" name="cat" id="cat" style="width: 100%;height: 100%" onchange="func()">
                    <option value="ID">Prescription ID</option>
                    <option value="Patid">Patient ID</option>
                    <option value="Date">Date</option>
                    <option value="Disease">Disease</option>
                </select>
            </div>
            <input type="submit" value="Search" class="btn btn-success ml-2"  name="view" style="margin-top: 6%">
            <div class="input"
                style="height: 100%;margin-left: 2%;display: flex;flex-direction: row;margin-right: auto;">
                <input type="text" placeholder="Search.." id="search" name="search"style="height: 100%;border-radius: 5px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;outline: none;border: none;border: 0.5px solid gray" autocomplete="off">
                <button type="submit" disabled class="buu" value="search"
                    style="background-color: rgb(255, 255, 255);border: 0.5px solid gray;outline: none;border-radius: 5px;border-top-left-radius: 0px;width: 45px;border-bottom-left-radius: 0px;display:flex;align-items: center"><i
                        class="material-icons">search</i></button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <form method="POST">
    <table class="table-striped table table-hover" style="margin-top: 10%;margin-left: auto;margin-right: auto;width: 70%">
        <thead>
        <tr>
            <th>
                Prescription ID
            </th>
            <th>
                Name
            </th>
            <th>
                Disease
            </th>
            <th>
                Prescription
            </th>
                      <th>
                Date
            </th>
        </tr>
        </thead>
        <tbody>
                {% for i in list %}
                    <tr>
                    <td>
                        {{ i.id }}
                    </td>
                    <td>
                        {{ i.name }}
                    </td>
                    <td>
                        {{ i.dis }}
                    </td>
                        <td style="width: 35vh">
                        {{ i.med }}
                    </td>
                                        </td>
                        <td style="width: 20vh">
                        {{ i.date }}
                    </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
</form>
</body>

</html>