<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>Profile</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/prof.css' %}" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm bg-dark" style="height: 7vh;">
        <a class="nav-brand" href="#">
            <img src="{% static 'images/tt.png' %}" style="height: 4vh;background: transparent">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'homepage' %}" type="button" class="btn btn-primary">Dashboard</a>
            </li>
            <li class="nav-item ml-3">
                <a href="{% url 'userprof' %}" class="btn btn-primary">Edit Profile</a>
            </li>
            <li class="nav-item ml-3">
                <a href="{% url 'index' %}" > <button type="button" class="btn btn-danger">Logout</button> </a>
            </li>
        </ul>
    </nav>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static 'images/profile-user.png' %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            {% for i in data %}
                                    <h5>

                                    {{ i.name }}
                                    </h5>
                                    <h6>
                                        Doctor
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ i.user }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ i.name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ i.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ i.mobile }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Registration No.</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{i.reg}}</p>
                                            </div>
                                        </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                   {% csrf_token %}
            </form>
        </div>
</body>
</html>